<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
    

    <br>In the first and second box, enter lists of integers </br>
    <br>In the third and fourth box, enter one integer</br> 
    <br>In the last box, enter lists of string</br>
    <br>App do some operations on integers and find a key</br>
    <br>Finally, result will be the encrypted 2 words</br>
    <br></br>
    Result is {{result}}

  <form action="compute" method="post">
    <textarea name="input1" rows="10" cols="30"></textarea>
    <textarea name="input2" rows="10" cols="30"></textarea>
    <textarea name="input3" rows="10" cols="30"></textarea>
	  <textarea name="input4" rows="10" cols="30"></textarea>
	  <textarea name="input5" rows="10" cols="30"></textarea>
	  <br>
    <input type="submit">
  </form>
